<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Author: Mongoose, NKG Web Dev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msvalidate.01" content="AF7174A55775BD05738AC53C14DDDC55" />
    <title>Cross Transportation, Inc</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="final.css"> -->
    <link rel="stylesheet" href="/stylesheets/test.css">
    <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="media/CROSS-Transportatin-Inc-Logo.png" alt="Cross Transportation Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#join" class="nav-link">Join</a>
                    </li>
                    <li class="nav-item">
                        <a href="#gallery" class="nav-link">Gallery</a>
                    </li>
                </ul>
                <ul class="cInfo">
                    <li class="nav-item">
                        <a href="tel:615-864-0279" class="nav-link db">
                            <i class="fas fa-mobile-alt"> 615.864.0279 </i>
                        </a>
                    </li>
                    <li class="nav-item c">
                        <a href="mailto:info@cross-trans.com?subject=" class="nav-link db">
                            <i class="fas fa-envelope"> info@cross-trans.com </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>