<%- include ("partials/header") %>
    <!-- start main section -->
    <div id="main" class="container-fluid main d-flex" style="background-image: url(/media/pexels-quintin-gellar-21992933.jpg);" alt="Fleet of trucks">
        <div class="row cM">
            <div class="display-1 col aling-self-start">
                <h1>Cross Transportation</h1>
                <h4>Spring Hill, TN</h4>
            </div>
            <div class="owner col text-center align-self-center">
                <h2>Owner Operator?</h2>
                <!-- <button id="joinBtn" type="button" class="join btn btn-lg"> -->
                <a id="joinBtn" class="join btn btn-lg" href="#join">Join Today</a>
                <!-- </button> -->
            </div>

            <div id="hook" class="col align-self-end">
                <h3>"A small Family Owned Trucking Comapny"</h3>
            </div>
        </div>
    </div>


    <!-- End first section -->

    <!-- About Section -->
    <div class="container about flex-wrap" id="about">
        <div class="row align-items-center about mb-4" id="aboutRow">
            <div class="col-md-6 header order-1">
                <img class="img-fluid logo" src="./media/CrossTransLogo.png" alt="Cross Transportation Logo">
                <h1 class="about text-align-center align-self-center">
                    About Us :
                </h1>
            </div>
            <div class="col-md-6 img order-2">
                <img class="img-fluid" src="media/20190515_090545.jpg" alt="Parked Truck">
            </div>

        </div>
        <div class="row align-items-center about mb-4">
            <div class="col-md-12 col-lg-6 img order-2">
                <img src="media/20180402_17551792.jpg" alt="Cross Transportation Truck" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-12 para order-1">
                <p class="text-align-left">
                    We are a small family owned company. In 2017 my wife, dad and I started this company with a 2012 Freightliner Cascadia. 6 months later we started adding owner operators. As of 2021 there are 30 trucks in the fleet, all owner operatores. Only 1 company
                    owned truck. No, it's not that same 2012 freightliner, hah!
                </p>
                <br>
                <p class="text-align-left">
                    Recently, we've opened new offices located in Cleveland, OH. and Dothan, AL. We are looking for like-minded entrepreneurs to help achieve our goal of methodically expanding the brand and business model around the country, while also understanding the
                    importance of putting the success and best interests of the owner operators first.
                    <br> -Sam Cross
                </p>
            </div>

        </div>
    </div>
    <!-- end about section -->


    <!-- start what we do section -->
    <section class="wWD container-fluid d-none d-sm-block mt-5">
        <h1 class="header text-center">What we do:</h1>
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade container-fluid" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./media/A4FhL4zA.jpeg" class="d-block w-100 center" alt="carousel image">
                    <div class="carousel-caption d-block">
                        <h2 class="display-6">We Work With You!</h2>
                        <p>We work primarily with owner operators who own their truck</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./media/flatbed.jpeg" class="d-block w-100 center" alt="flatbed image">
                    <div class="carousel-caption d-block">
                        <h2 class="display-6">Flatbed</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./media/NA.jpg" class="d-block w-100 center" alt="NASA image of North America">
                    <div class="carousel-caption d-block">
                        <h2 class="display-6">Lower 48</h2>
                        <p>No Canada or Mexico.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./media/fridgetruck2.jpeg" class="d-block w-100 center" alt="Fridge slide truck">
                    <div class="carousel-caption d-block">
                        <h2 class="display-6">Refrigerated</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./media/glowytruck.jpeg" class="d-block w-100 center" alt="Truck at night">
                    <div class="carousel-caption d-block">
                        <h2 class="display-6">Van</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Form/ Join section -->
    <form action="https://formspree.io/f/moqyppvd" method="POST" id="join" enctype="multipart/form-data" class="container">
        <div class="howToJoin">
            <h1 class="jp text-align-center ">
                <img class="img-fluid form-logo" src="./media/CrossTransLogo.png"> How to Join:
            </h1>
            <!-- Form Information / What's needed to join -->
            <ul class="border-top  border-bottom">
                <div class="row mt-2 mb-2">
                    <div class="col-12 col-md-6">
                        <li class="list-item">Base Plates. We can provide if you need</li>
                        <li class="list-item">No Forced dispatch-Drive when you want</li>
                        <li class="list-item">Your success is our top priority. If you are't set up in an environment for success then nothing works.</li>
                        <li class="list-item">You are the boss, we work for you. We provide the tools for your success.</li>
                    </div>
                    <div class="col-12 col-md-6">
                        <li class="list-item">We pay 84% of load</li>
                        <li class="list-item">Fuel Cards available if you want</li>
                        <li class="list-item">Prepass Elite available if you want</li>
                        <li class="list-item">Bring your own truck</li>
                        <li class="list-item">We have a few vendors to rent trailers from if you need a trailer.</li>
                    </div>
                </div>
            </ul>

        </div>
        <!-- Form inputs -->
        <section class="formSection text">
            <label for="name">Full Name:</label>
            <input class="form-control input-lg" type="text" name="name" id="name" required>
        </section>

        <section class="formSection text">
            <label for="email">Email:</label>
            <input class="form-control input-lg" type="email" name="email" id="email" required>
        </section>

        <section class="formSection text">
            <label for="phone">Phone:</label>
            <input class="form-control input-large" type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}*" id="phone" maxlength="16">
        </section>
        <div class="row">
            <div class="col-md-6">
                <section class="formSection selection cdl">
                    <label for="CDL">Do you have a class A CDL?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="CDLY" name="CDL" value="Yes">
                        <label for="CDLY">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="CDLN" name="CDL" value="No">
                        <label for="CDLN">No</label>
                    </div>
                </section>
                <section class="formSection selection otrExp">
                    <label for="otrExp">Do you have at least 2 years of OTR experience?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="otrExpY" name="otrExp" value="Yes">
                        <label for="otrExpY">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="otrExpN" name="otrExp" value="No">
                        <label for="otrExpN">No</label>
                    </div>
                </section>
                <section class="formSection selection movingVio">
                    <label for="movingVio">Do you have less than 3 moving violations in the previous 3 years?
          </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="movingVioY" name="movingVio" value="Yes">
                        <label for="movingVioY">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="movingVioN" name="movingVio" value="No">
                        <label for="movingVioN">No</label>
                    </div>
                </section>
                <section class="formSection selection time">
                    <label for="time">Best hours to contact you between:</label>
                    <br>
                    <input class="time" type="time" id="time1" name="time"> --
                    <input class="time " type="time" name="time" id="time2">
                </section>
            </div>
            <div class="col-md-6">
                <section class="formSection selection truck">
                    <label for="truck">Do you have or are in the process of aquiring own truck?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="truckY" name="truck" value="Yes">
                        <label for="truckY">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="trcukN" name="truck" value="No">
                        <label for="truckN">No</label>
                    </div>
                </section>
                <section class="formSection selection movingVio">
                    <label for="movingVio">Have you been cited for a D.O.T. defined accident in the previous 3 years
          </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="accidentY" name="accident" value="Yes">
                        <label for="accident">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="accidentN" name="accident" value="No">
                        <label for="accident">No</label>
                    </div>
                </section>
                <section class="formSection selection haul">
                    <label for="haul">Prefered haul?</label>
                    <h6>*cannot guarantee local only</h6>
                    <select name="haul" id="haul">
            <option value="OTR">OTR</option>
            <option value="Regional">Regional</option>
            <option value="Local">Local</option>
          </select>
                </section>
            </div>

            <!-- Recaptcha and submit button for form -->
            <button data-sitekey="6LfAwBAcAAAAALXL_Czrwfh22HFaphRq_lV5v7j_" class="btn btn-lg g-recaptcha d-flex justify-content-center" data-sitekey="6Le_MX8aAAAAAB6ja8cYRgRI9GCY1sOxFAlAu54c" data-callback="onSubmit" id="submitBtn" type="submit" value="submit">Submit</button>
    </form>
    </div>
    <!-- Gallery section -->
    <div id="gallery" class="gallery container">
        <h1 class="text-center mt-4">Gallery:</h1>
        <div class="row 1">
            <div class="col-md-4">
                <img class="img-thumbnail" src="./media/snowytruck.jpeg" alt="Truck in the Snow">
            </div>
            <div class="col-md-4">
                <img src="./media/load.jpeg" alt="Truck W/located" class="img-thumbnail">
            </div>
            <div class="col-md-4">
                <img src="./media/DuelingDs.jpeg" alt="Two trucks facing eachother" class="img-thumbnail">
            </div>
        </div>
        <div class="row 2">
            <div class="col-md-3">
                <img class="img-thumbnail" src="./media/mountains.jpeg" alt="Mountain Road">
            </div>
            <div class="col-md-3">
                <img src="./media/mountains2.jpeg" alt="2nd mountain road" class="img-thumbnail">
            </div>
            <div class="col-md-3">
                <img src="./media/Mubhs-pg.jpeg" alt="Truck covered in snow" class="img-thumbnail">
            </div>
            <div class="col-md-3">
                <img src="./media/cockpit.jpeg" class="img-thumbnail" alt="cockpit of truck">
            </div>
        </div>
        <div class="row 3">
            <div class="col-md-3">
                <img src="./media/RaptorCage.jpeg" alt="loaded cages" class="img-thumbnail">
            </div>
            <div class="col-md-3">
                <img src="./media/Truck.jpeg" alt="Blue truck" class="img-thumbnail">
            </div>
            <div class="col-md-3">
                <img src="./media/Vc-rmR1A.jpeg" alt="Heavy machine load" class="img-thumbnail">
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" src="./media/Tree.jpeg" alt="Fallen tree">
            </div>
        </div>


    </div>


    <%- include ("partials/footer") %>